<html lang="en">
<head>
<style>

</style>
    <meta charset="UTF-8">
    <title></title>
      <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css">

</head>
<body>

<!-- Where all the menu items get appended -->
<!-- created in menu.js -->
<section class = "container-fluid">

    <section class = row>
      <div class = 'col-md-12' id = "header">
        <h1>Crunchr</h1>
      </div>
    </section>


    <div class = "row">
        <div class = "col-md-4 text-center">

            <h3>Friends</h3>
            <!-- This populates the friend list -->
            <!-- need to put it into a loop to make cards -->
            <div class = "scrollbar col-md-offset-3">
              <% var x = 0; %>
              <% while(x < friends.length){ %>
<!--               <div class = "friend_card">
 -->              <h3>@<%= friends[x][0].username %></h3>
              <h4><%= friends[x][0].first_name %> <%= friends[x][0].last_name %></h4>
              <img src = "<%= friends[x][0].avatar_url %>">
              <% x++ %>
<!--               </div>
 -->              <% } %>
            </div>

        </div>


        <div class = "col-md-4 text-center" id = "user_info">
          <div>
          <h3>Hello, <%= users.first_name %>!</h3>
          <h4>@<%= users.username %></h4>
          <img src = "<%= users.avatar_url %>">
          </div>
          <div>
          <h3>Lets Start a New Receipt</h3>

<!--             <div class = "form-group">
              <input placeholder = "Where did you just eat?" class="form-control">
            </div>
            <a href = "/menu"><button class="btn btn-default, login_button">New Receipt</button></a>
             -->
            <form action="menu" method="POST" class = "form-group">
                <input name = "restaurant" placeholder = "Where did you just eat?" class="form-control">
                <button class="btn btn-default, login_button">New Receipt</button>
            </form>

          </div>
        </div>



        <div class = "col-md-4 text-center">
          <h3>Receipts</h3>  
          <div class = "col-md-offset-3 text-center scrollbar">
                
          </div>
        </div>


    </div>
</section>



<!-- this is my menu dom -->



<!-- Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>



</body>
</html>

