<% include partials/template/header.ejs %>

    <div class = "row">
        <div class = "col-md-4 text-center">
            <div class = 'row'>
              <h2 class = "col-md-4 col-md-offset-4 group_header">Friends</h2>
            </div>
            <!-- This populates the friend list -->
            <!-- need to put it into a loop to make cards -->
            <div class = "scrollbar" id ="friends_container">
              <% var x = 0; %>
              <% while(x < friends.length){ %>
<!--               <div class = "friend_card">--> 
            <div class = "friend_card">
              <div class = "friend_header">
                  <h3>@<%= friends[x][0].username %></h3>
                  
              </div>
              <img src = "<%= friends[x][0].avatar_url %>">
            </div>
              <% x++ %>
<!--               </div>
 -->              <% } %>
            </div>
            <form action="friendfinder" method="POST" class = "form-inline" id= "add_friend">
              <input name = "friend" placeholder = "Add a Friend" class="form-control">
              <button class="btn btn-default, login_button">Find</button>
            </form>
        </div>


        <div class = "col-md-4 text-center" id = "user_info">
          <div>
          <h3>Hello, <%= users.first_name %>!</h3>
          <h4>@<%= users.username %></h4>
          <img src = "<%= users.avatar_url %>">
          </div>

          <div>
            <h3>Lets Start a New Receipt</h3>
            <form action="menu" method="POST" class = "form-group">
                  <input id = "restaurant_form" name = "restaurant" placeholder = "Where did you just eat?" class="form-control"
                  <% if(users.username === "RonBurgundy"){ %>
                  value = "Simply Fondue"
                  <%}%>
                  >
                  <button class="btn btn-default, login_button">New Receipt</button>    
            </form>
          </div>
<!--           <div>
            <h3>Looking for a Restaurant?</h3>
            <form action="get_menu" method="POST" class = "form-group">
              <input name = "restaurant_menu" placeholder = "What is the name of you restaurant?" class = "form-control">
              <button class="btn btn-default, login_button">Find Restaurant</button>
            </form>
          </div> -->

        </div>



        <div class = "col-md-4 text-center">
          <div class = 'row'>
            <h2  class = "col-md-4 col-md-offset-4 group_header">Receipts</h2>
          </div>  
          <div class = "col-md-offset-3 text-center scrollbar container-fluid" id = "receipt_box">

          <% var receipt_array = receipts %>
          <% receipt_array.forEach(function(receipt){%>
          <% var id = receipt.id.toString()%>
            <a  href = "/receipt/<%=id%>">
              <div class = 'row receipt_card'>
                <% var restaurant_info = JSON.parse(receipt.restaurant_object) %>

                <div class ="row receipt_header">
                  <h3><%= restaurant_info['restaurant_info']['name'] %></h3>
                </div>
                <div class = "row">
                  <% var time = receipt.created_at.split(' ') %>
                  <h4 class = "date"><%= time[0] %></h4>
                  <h4 class = "time"><%= time[1] %></h4>
                  <h4>$<%=restaurant_info['totals']['grand_total'].toFixed(2)%></h4>
                </div>
              </div>
            </a>
          <%})%>

          </div>
        </div>
    </div>
</section>



<!-- this is my menu dom -->



<!-- Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src = "javascripts/index.js"></script>


</body>
</html>

