<html lang="en">
<head>

    <meta charset="UTF-8">
    <title></title>

  <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
      <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css">
</head>

<!-- Where all the menu items get appended -->
<!-- created in menu.js -->
<body>
<section class = "container-fluid">


    <div class = "row">
    <section>
      <div class = 'col-md-12' id = "header">
        <a href = "/" class = "col-md-2 col-md-offset-5"><h1>Splittr</h1></a>
        <form class = "col-md-1 col-md-offset-4" action = "logout" method = "POST" id = "logout_form">
            <button id="logout_button">Logout</button>
        </form>
      </div>
    </section>
   	</div>

    <div class = "row">
    <% var parsed = JSON.parse(receipts.restaurant_object) %>
	<div class = "col-md-4 col-md-offset-4 text-center">
	<div class = "rest_header">
		<h1><%=parsed['restaurant_info']['name']%></h1>
		<%if(parsed['restaurant_info']['website'] != ""){ %>
		<a href = <%=parsed['restaurant_info']['website'];%> target = "blank"><h3>Website</h3></a>
		<%}%>
	</div>
	<% for(user in parsed['diners']){ %>
		<div class = "user_card">
			<h3>@<%= user %></h3>
			<img src = "<%= parsed['diners'][user].avatar_url%>">
				<% for( item in parsed['diners'][user].items){ %>
				 <h4><%= item %></h4>
				 <h5>$<%= parsed['diners'][user]['items'][item].total_owed.toFixed(2) + " x " + parsed['diners'][user]['items'][item].quantity_eaten.toFixed(2)%></h5>
				 <% } %>
			<h4>Total: $<%= parsed['diners'][user]['total'].toFixed(2)%></h4>
			<h4>Tax: $<%= parsed['diners'][user]['tax'].toFixed(2)%></h4>
			<h4>Tip: $<%= parsed['diners'][user]['tip'].toFixed(2)%></h4>
			<h3>Grand Total $<%= parsed['diners'][user]['grand-total'].toFixed(2)%></h3>
		</div>
	<% } %>
		<div class = "total_card">
			<h4>Total: $<%=parsed['totals'].total.toFixed(2)%></h4>
			<h4>Total Tax: $<%=parsed['totals'].tax.toFixed(2)%></h4>
			<h4>Total Tip: $<%=parsed['totals'].tip.toFixed(2)%></h4>
			<h3>Grand Total: $<%=parsed['totals'].grand_total.toFixed(2)%></h3>
		</div>
    </div>
</div>

</section>



<!-- this is my menu dom -->



<!-- Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>



</body>
</html>

